<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE>Contract</TITLE>
	<STYLE TYPE="text/css">
	</STYLE>
</HEAD>
<BODY LANG="ru-RU" LINK="#0563c1" DIR="LTR">
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=2>Договор
№ {{ requisites }}</FONT></FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=2>на
предоставление услуг по аренде сервера</FONT></FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
<BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
<FONT COLOR="#000000"><FONT FACE="Times New Roman, serif"><FONT SIZE=2><I><SPAN STYLE="font-weight: normal">Российская
Федерация, город Омск                              
  «__» ________________ 2020 года</SPAN></I></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Общество с
ограниченной ответственностью «Основа
ДАТА НЭТ», юридическое лицо по
законодательству России, местонахождение:
644103, г. Омск, ул. Игоря Москаленко, дом
137, оф. 3, в лице
директора Лекаревича Сергея Сергеевича,
действующего на основании Устава (далее
– «Исполнитель»), с одной стороны, и</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><I>Общество с
ограниченной ответственностью
«Бизнес-Системы»</I>, юридическое лицо
по законодательству России, местонахождение:
г. Санкт-Петербург, ул. Ижорская, 11 А,
пом. 8Н, в лице Подгорного Владимира
Анатольевича, действующего на основании
Устава (далее – «Клиент»), с другой
стороны,</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">совместно
именуемые «Стороны», а по отдельности
«Сторона», заключили настоящий Договор
о нижеследующем:</P>
<P ALIGN=JUSTIFY STYLE="text-indent: 0.39in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%">1. ТЕРМИНЫ
	И ОПРЕДЕЛЕНИЯ</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.64in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<TABLE WIDTH=100% CELLPADDING=5 CELLSPACING=0>
	<COL WIDTH=53*>
	<COL WIDTH=203*>
	<TR VALIGN=TOP>
		<TD WIDTH=21% HEIGHT=13 STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>Выделенные
			ресурсы -
			</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY><A NAME="_GoBack"></A><FONT FACE="Arial, serif"><FONT SIZE=2>физические ресурсы
				(процессоры, ОЗУ, СХД) принадлежащие Исполнителю, которые в
				виртуальном виде предоставляются в распоряжение Заказчику.
				<P>принадлежащие Исполнителю,</FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2><B><SPAN>
			</SPAN></B></FONT></FONT><FONT FACE="Arial, serif"><FONT SIZE=2>которые
			в виртуальном виде предоставляются
			в распоряжение Заказчику.</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% HEIGHT=14 STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>Базовые услуги –</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>минимальный набор постоянно
			оказываемых услуг определенного типа,
			который подлежит заказу. Набор услуг
			предоставляется регулярно в течение
			всего срока действия Договора, в
			соответствии с Заказом на услуги,
			утвержденным Сторонами в виде Приложения
			к настоящем Договору, являющемуся его
			неотъемлемой частью.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>Период предоставления базовых
			Услуг –</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>временной интервал,
			отсчитываемый от момента предоставления
			доступа к Серверу, в течение которого
			Клиент вправе пользоваться Услугами
			на основании совершенного платежа.	</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Дополнительные
						</P>
			<P ALIGN=JUSTIFY>услуги –</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>услуги, предоставляемые в
			дополнение к базовым, и выполняемые
			на постоянной основе или в разовом
			порядке по соответствующему заказу
			Клиента. <SPAN LANG="en-US">Основанием для
			оказания дополнительных услуг является
			запрос Клиента.</SPAN></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>Инсталляционные услуги –</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>разовые<B> </B>услуги по настройке
			Оборудования и/или программного
			обеспечения (ПО).</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>Конфиденциальная           
			информация –</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>информация, полученная
			Стороной от другой Стороны в ходе
			исполнения Договора, явно обозначенная
			как конфиденциальная либо являющаяся
			таковой в соответствии с законодательством.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>Отчетный период -</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>означает срок длительностью
			с первого по последнее число каждого
			календарного месяца включительно.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>Рабочий день -</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>означает день, официально
			считающийся в текущем году рабочим
			на территории Российской Федерации
			при 5-ти дневной рабочей неделе. При
			этом если в Договоре прямо не указан
			термин «рабочий день» применяется
			рабочий день.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>Технологическая площадка –</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>специализированные помещения
			Дата-центре, в которых размещаются
			серверное и сетевое оборудование и
			посредством которых предоставляются
			услуги по настоящему Договору.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>Этап оказания услуг -</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>означает очередной этап
			исполнения обязательств по настоящему
			Договору, включая: завершение очередного
			расчетного (отчетного) периода,
			завершение периода предоставления
			инсталляционных Услуг, завершение
			периода предоставления дополнительных
			Услуг.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Техническая
			    
			</P>
			<P ALIGN=JUSTIFY>поддержка –</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>технические мероприятия по
			обеспечению функционирования заявленных
			в Договоре сервисов, своевременное
			предоставление информации, необходимой
			для нормального функционирования
			таких сервисов.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>Служба технической поддержки
			–</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>технический персонал Компании,
			осуществляющий Техническую поддержку.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Панель</P>
			<P ALIGN=JUSTIFY>управления –</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>веб-интерфейс, предоставленный
			Клиенту Компанией для удаленного
			управления Услугами.</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=21% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Лицевой счет</P>
			<P ALIGN=JUSTIFY>Клиента –</P>
		</TD>
		<TD WIDTH=79% STYLE="border: 1px solid #00000a; padding: 0.06in">
			<P ALIGN=JUSTIFY>учетные данные в биллинговой
			системе Исполнителя об оплате Клиентом
			потребляемых услуг.</P>
		</TD>
	</TR>
</TABLE>
<P ALIGN=JUSTIFY STYLE="text-indent: 0.39in; margin-bottom: 0in; line-height: 100%">
<FONT COLOR="#000000"> </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%">2. ПРЕДМЕТ
	ДОГОВОРА</P>
<P LANG="en-US" ALIGN=JUSTIFY STYLE="margin-left: 0.64in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Исполнитель
предоставляет Клиенту услуги по
предоставлению вычислительных мощностей
с удаленным доступом с использованием
выделенных физических серверов (далее
- Услуги). При этом Исполнитель берет на
себя ответственность за надлежащее
функционирование всех компонентов,
обеспечивающих доступ к арендованному
Серверу (далее – Сервер), а также оказывает
техническую поддержку Клиенту в рамках
выбранного им тарифного плана, указанного
в Приложении 2 к настоящему Договору.</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Клиент обязуется
использовать Услуги в соответствии с
действующим законодательством РФ.
Клиент несет полную ответственность
за ненадлежащее использование Услуги
в соответствии с действующим
законодательством. Клиент обязуется
надлежащим образом администрировать
Сервер для исключения случаев его
несанкционированного использования
третьими лицами.</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">С момента
передачи паролей доступа к Серверу
Исполнитель не несет ответственности
за содержимое файловой системы Сервера
и правомочность его использования
Клиентом.</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Исполнитель
оказывает Клиенту помощь по использованию
сервисов в рамках тарифного плана,
выбранного Клиентом. При этом поддержка
Клиента со стороны Исполнителя ограничена
согласно п. 3.4.3 настоящего Договора.</P>
<P ALIGN=JUSTIFY STYLE="text-indent: 0.39in; margin-bottom: 0in; background: #ffffff; line-height: 100%">
<BR>
</P><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%">3. ПРАВА
	И ОБЯЗАННОСТИ СТОРОН</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.64in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<OL START=3>
	<OL>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Клиент
		имеет право на:</P>
	</OL>
</OL>
<OL>
	<OL>
		<OL>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">получение
			консультаций от Исполнителя в
			соответствии с пунктом 3.4.1 настоящего
			Договора;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">эксклюзивное
			использование вычислительных мощностей
			Серверов, предоставленных ему в
			соответствии с выбранным им тарифным
			планом, без нарушений условий настоящего
			Договора и Правил пользования сервисами
			и услугами (Приложение №1 к настоящему
			договору), именуемых в дальнейшем
			Правила;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">получение
			технической поддержки от представителей
			службы поддержки Исполнителя в
			соответствии с п.3.4.3 настоящего
			Договора;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">прекращение
			отношений с Исполнителем с предварительным
			письменным (оригинал по адресу: 644103,
			г. Омск, ул. Игоря Москаленко, дом 137,
			<SPAN STYLE="background: #ffff00">оф.</SPAN> 3) или
			электронным (отсканированная копия
			оригинала на адрес: sales@coredatanet.ru)
			уведомлением Исполнителя не менее
			чем за 2 (две) недели до момента
			прекращения отношений. Уведомление
			о расторжении договора должно быть
			заверено подписью руководителя
			предприятия или организации и печатью;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">получение
			компенсации в соответствии с п.3.4.5
			настоящего Договора.</P>
		</OL>
	</OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=3>
	<OL START=2>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Исполнитель
		имеет право на:</P>
		<OL>
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN STYLE="background: #ffff00">приостановление
			оказания услуг по настоящему Договору
			Клиенту в случае нарушения сроков
			оплаты услуг более чем на 2 (два)
			календарных дня, при этом </SPAN><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">выделенные
			ресурсы и размещённая на них информация
			сохраняется</SPAN></FONT></FONT><SPAN STYLE="background: #ffff00">;</SPAN></P>
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN STYLE="background: #ffff00">прекращение
			оказания услуг по настоящему Договору
			Клиенту в случае просрочки оплаты
			услуг более чем на 7 (семь) календарных
			дней, при этом </SPAN><FONT FACE="Arial, serif"><FONT SIZE=2><SPAN STYLE="background: #ffff00">выделенные
			ресурсы и размещённая на них информация
			удаляется</SPAN></FONT></FONT><SPAN STYLE="background: #ffff00">;</SPAN></P>
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">изменение
			тарифов с обязательным предварительным
			уведомлением Клиента не менее чем за
			30 (тридцать) календарных дней до
			вступления изменений в силу;</P>
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">проведение
			технических работ в Дата-центре
			Исполнителя с обязательным уведомлением
			не менее чем за 12 часов до проведения
			работ, при этом Клиент не имеет права
			на получение какой-либо компенсации
			за отсутствие доступа к предоставленным
			вычислительным мощностям сервера в
			сети в период проведения таких
			технических мероприятий, если суммарное
			время их проведения не превышает 3
			(трех) часов в месяц;</P>
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">блокировку
			удаленного доступа Клиента к Серверу
			в случае нарушения Клиентом правил
			пользования сервисами и услугами, в
			связи с тем, что Клиентом не устранены
			выявленные нарушения;</P>
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">немедленное
			приостановление доступа Клиента к
			Серверу с последующим уведомлением
			Клиента об этом по электронной почте
			при выявлении ситуаций, указанных в
			п. 3.3.9 настоящего Договора.</P>
		</OL>
	</OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=3>
	<OL START=3>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Клиент
		обязуется:</P>
		<OL>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">своевременно
			оплачивать услуги, указанные в п.2.1
			настоящего Договора;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">использовать
			Сервер не нарушая законодательство
			Российской Федерации и самостоятельно
			нести ответственность за ущерб любого
			рода, понесенный Клиентом или третьими
			лицами в ходе и результате использования
			Клиентом услуг, оказываемых Исполнителем
			по настоящему Договору;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">создавать
			резервные копии данных, находящихся
			на Сервере. Исполнитель не несет
			ответственности за уничтожение файлов
			Клиента по причине технической
			неисправности Сервера, умышленного
			или неумышленного действия третьих
			лиц или Клиента;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">самостоятельно
			нести ответственность за ущерб любого
			рода, понесенный им в связи с утерей
			или разглашением Клиентом своих
			реквизитов доступа к аккаунту и/или
			к Серверу;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">нести
			полную ответственность за содержание
			материалов/информации, а также
			лицензионную чистоту самостоятельно
			устанавливаемого Клиентом на Сервер
			программного обеспечения, а также
			гарантировать, что все материалы и
			информация, содержащиеся на Сервере,
			не нарушают авторские и иные права
			третьих лиц; Не производить модификацию
			и дистрибуцию программного обеспечения,
			предоставляемого Исполнителем и/или
			третьими лицами, без письменного
			разрешения Исполнителя или
			правообладателей;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">учитывать
			в своей деятельности информацию,
			относящуюся к изменениям в Договоре
			и Приложениях к нему, предоставляемых
			услугах, плановых работах, а также
			иную информацию, рассылаемую Исполнителем
			по основным <SPAN LANG="en-US">e</SPAN>-<SPAN LANG="en-US">mail</SPAN>
			адресам, указанным Клиентом в контактных
			данных и/или информацию, публикуемую
			на интернет-сайте Исполнителя;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">нести
			полную ответственность за содержимое
			публикуемых и размещаемых на Сервере
			материалов в соответствии с правилами
			пользования сервисами и услугами, не
			допускать размещения на Сервере
			информации и материалов, нарушающих
			действующее законодательство РФ, в
			том числе и третьими лицами;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">нести
			полную ответственность за всю сетевую
			активность, которая ведется с <SPAN LANG="en-US">IP</SPAN>-адресов,
			используемых Сервером, не допускать
			несанкционированного использования
			Сервера для неправомерной деятельности;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">не допускать
			аварийных ситуаций, когда Сервер
			нарушает нормальную эксплуатацию
			сети Исполнителя (<SPAN LANG="en-US">DDOS</SPAN>
			атака, несанкционированное использование
			<SPAN LANG="en-US">IP</SPAN> адресов, подмена <SPAN LANG="en-US">IP</SPAN>
			адресов, использование <SPAN LANG="en-US">DHCP</SPAN>
			серверов и т.п.); 
			</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">оплачивать
			в полном объеме весь трафик своего
			Сервера в соответствии с установленным
			тарифным планом, включая паразитный
			(например входящие ТСР запросы на
			несуществующие или отключенные
			сервисы), технологический (<SPAN LANG="en-US">ICMP</SPAN>
			<SPAN LANG="en-US">Ping</SPAN>, широковещательные
			запросы и т.п.) и несанкционированный
			трафик (<SPAN LANG="en-US">DDOS</SPAN> атаки, вирусные
			флуды и т.п.).</P>
		</OL>
	</OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<OL START=3>
	<OL START=4>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Исполнитель
		обязуется:</P>
		<OL>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">начать
			предоставлять Клиенту Услуги по
			настоящему Договору на следующий
			рабочий день после получения
			первоначальной оплаты;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">соблюдать
			конфиденциальность данных, полученных
			от Клиента при оформлении заказа или
			в процессе исполнения настоящего
			Договора в соответствии с действующим
			законодательством;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">оказывать
			Клиенту своевременную и посильную
			техническую поддержку по вопросам,
			связанным с работой Сервера, его
			сервисов и программного обеспечения,
			предоставляемого Исполнителем. При
			этом в случае обнаружения ошибок и/или
			иных проблем в операционной системе
			и/или в приложениях, установленных на
			сервере Исполнитель рекомендует
			обращаться к разработчикам
			соответствующего программного
			обеспечения и ожидать решения проблем
			с их стороны. В этом случае Исполнитель
			не несет ответственности за сроки и
			не гарантирует исправления ошибок
			разработчиком;</P>
			<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">обеспечивать
			полное присутствие Сервера в сети не
			менее 99,5% времени в месяц (простой не
			более 180 минут в месяц);</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">предоставлять
			Клиенту компенсацию в случае внеплановой
			недоступности Сервера по вине
			Исполнителя при условии, что недоступность
			не была вызвана некорректной настройкой
			компонентов Сервера Заказчиком. Срок
			начала и окончания простоя Сервера
			фиксируется с момента регистрации
			заявки о проблеме на адрес
			<A HREF="mailto:helpdesk@coredatanet.ru">helpdesk@<SPAN LANG="en-US">coredatanet</SPAN>.ru</A>
			до ответа службы технической поддержки
			Исполнителя о восстановлении нормальной
			работы.</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Сумма
			компенсации (S) рассчитывается
			пропорционально стоимости Услуг за
			период их недоступности в отчетном
			месяце, и не может превышать 50% от
			стоимости услуг за соответствующий
			месяц:</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">S=(IхT)</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Где:</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">I – 1/720
			ежемесячной стоимости недоступной
			услуги за каждый полный 1 (один) час</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">T –
			совокупное время недоступности за
			период оказания Услуги (минимальное
			значение не может быть менее 1 (одного)
			часа.</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">учитывать
			трафик Клиента на пограничных
			маршрутизаторах Исполнителя. Данные
			Исполнителя по учету трафика являются
			окончательными для выставления счетов;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">предоставлять
			Клиенту любые дополнительные услуги,
			связанные с эксплуатацией его Сервера,
			согласно действующим тарифам или по
			соглашению Сторон;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">производить
			замену неисправных компонентов
			предоставленного Сервера не позднее
			6 (шести) часов с момента получения
			соответствующего обращения в службу
			технической поддержки;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">при
			выявлении ситуаций, указанных в п.3.3.9
			настоящего Договора в течение 30 минут,
			с момента запроса Клиента, производить
			посильные действия (замена и/или
			отключения основного IP адреса,
			предоставление KVM и т.п.), в целях
			нейтрализации причин (фильтрация DDoS
			атаки и т.п.), повлекших блокировку
			Сервера и скорейшего возобновления
			нормальной работы Сервера.</P>
		</OL>
	</OL>
</OL>
<P ALIGN=JUSTIFY STYLE="text-indent: 0.39in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%">4. ПОРЯДОК
	РАСЧЕТОВ</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Клиент
		оплачивает Исполнителю оказанные
		Услуги в соответствии с выбранным им
		Тарифным планом (приложение №2 к
		настоящему Договору) на основании
		выставляемого Исполнителем счета.<FONT SIZE=3>
		Платеж вносится на расчетный счет
		Исполнителя </FONT><FONT SIZE=3><SPAN STYLE="background: #ffff00">ежемесячно
		до 25-го числа месяца, предшествующего
		расчётному.</SPAN></FONT></P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Оплата за
		перерасход объема передаваемых данных
		(трафика), предусмотренного Тарифным
		планом Клиента, рассчитывается в
		соответствии с действующими тарифами
		Исполнителя.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"> В случае
		досрочного расторжения настоящего
		Договора по соглашению сторон
		неиспользованные средства возвращаются
		Клиенту в течение 10 рабочих дней.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">В случае
		досрочного расторжения настоящего
		Договора по инициативе Исполнителя,
		вследствие нарушения Клиентом
		действующего законодательства РФ,
		неиспользованные средства не
		возвращаются.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">В случае
		если нарушение Клиентом действующего
		законодательства РФ привело к изъятию
		имущества Исполнителя, то Клиент
		обязуется выплатить рыночную стоимость
		изъятого имущества в течение 25 (двадцати
		пяти) рабочих дней с момента изъятия.
		Если рыночная стоимость изъятого
		имущества не может быть однозначно
		определена, то Клиент выплачивает 12
		(двенадцать) ежемесячных платежей без
		учета стоимости порта доступа в
		Интернет. В случае возвращения имущества
		Исполнителю вышеуказанный платеж
		учитывается при расчетах как платежи
		за аренду Сервера, при этом Клиент
		обязуется оплатить весь период простоя
		Сервера, допущенного по его вине за
		исключением предоставления порта
		доступа в Интернет.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN STYLE="background: #ffff00">Услуги
		предоставляются </SPAN><FONT SIZE=3><SPAN STYLE="background: #ffff00">при
		условии наличия предоплаты, за месяц
		в котором оказывается услуга</SPAN></FONT>.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Оплата
		инсталляционных Услуг производится
		Клиентом единовременно на условиях
		предоплаты в размере 100% (ста) процентов
		от стоимости таких Услуг. Доступ к
		Серверу предоставляется только после
		получения предоплаты от Клиента.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Оплата
		базовых Услуг производится Клиентом
		ежемесячно на условиях предоплаты в
		размере 100% (ста) процентов от стоимости
		таких Услуг не позднее последнего дня
		месяца, предшествующего оплачиваемому
		месяцу. 
		</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">В случае
		оказания Исполнителем разовых услуг
		по заявке Клиента их оплата производится
		на основании отдельного счета.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Отчетным
		периодом по настоящему Договору
		считается календарный месяц. 
		</P>
	</OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.39in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%">5. РАЗРЕШЕНИЕ
	СПОРОВ.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Все споры
		и разногласия, которые могут возникнуть
		между Исполнителем и Клиентом, не
		нашедшие своего разрешения на основе
		данного Договора, решаются путем
		переговоров, а при невозможности
		достижения соглашения в Арбитражном
		суде в соответствии с действующим
		законодательством.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Для решения
		технических вопросов при определении
		причинно-следственной связи между
		действиями Клиента и ущербом, причиненным
		Исполнителю, Исполнитель оставляет
		за собой право самостоятельно привлекать
		компетентные органы и/или организации
		в качестве экспертов.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><A NAME="_Hlk497400490"></A>
		В случае наличия у Клиента задолженности
		Исполнитель вправе приостановить
		предоставление услуги по истечении
		двух дней после появления задолженности
		 и направить уведомление о задолженности
		и необходимости погашения.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Если Клиент
		после получения уведомления, указанного
		в п. 5.3, не предпринимает действий по
		погашению задолженности, Исполнитель
		вправе направить повторное уведомление.
		Срок погашения задолженности по такому
		уведомлению составляет три дня с
		момента получения Клиентом.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">При не
		поступлении денежных средств в сроки
		и в размере, указанном в уведомлении
		(п. 5.4), оказание услуг прекращается,
		выделенные ресурсы и размещенная на
		них информация удаляется.<FONT FACE="Arial, serif"><FONT SIZE=2>
		</FONT></FONT>
		</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Если Клиент
		устраняется от урегулирования вопроса
		с образовавшейся задолженностью за
		Услуги, то Исполнитель направляет в
		адрес Клиента соответствующую претензию
		и инициирует исковое производство в
		соответствии с действующим
		законодательством РФ.</P>
	</OL>
</OL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%">6. ОСОБЫЕ
	УСЛОВИЯ</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">В случае
		привлечения Исполнителя ответчиком
		в суде или любой другой инстанции по
		делам третьих лиц, стороной в которых
		является настоящий и/или бывший Клиент,
		связанным с нарушением положений
		настоящего договора Клиентом или
		другими лицами, использующими реквизиты
		доступа Клиента к его оборудованию
		или внутренним сервисам Исполнителя;
		или связанным с использованием сети
		Интернет посредством предоставляемых
		в рамках настоящего Договора услуг;
		или связанным с размещением или
		передачей любого сообщения, информации,
		программного обеспечения или других
		материалов в сети Интернет Клиентом
		или другими лицами, использующими
		реквизиты доступа Клиента к его
		оборудованию или внутренним сервисам
		Исполнителя, то в этом случае Клиент
		обязуется вступить в дело на стороне
		Исполнителя и возместить Исполнителю
		убытки.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Исполнитель
		не несет ответственности за:</P>
		<OL>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">за любой
			ущерб, понесенный Клиентом в результате
			возникновения обстоятельств
			непреодолимой силы или иных обстоятельств,
			которые Компания не могла ни предвидеть,
			ни предотвратить, препятствующих
			нормальному функционированию Сервера</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">за ущерб,
			понесенный Клиентом, прямо или косвенно
			возникший в результате использования
			предоставленных Исполнителем услуг
			по настоящему Договору, за исключением
			ущерба, возникшего вследствие аварийных
			ситуация, находящихся в зоне
			ответственности Исполнителя и не
			превышающего сумму месячной платы за
			оказываемые Услуги;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">невозможность
			интернет-провайдера (провайдера
			доступа) Клиента и/или третьих лиц
			обеспечить качественный доступ к
			оборудованию Клиента и/или к сети
			Исполнителя;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">дефекты
			в любом электронном или механическом
			оборудовании, не принадлежащем
			Исполнителю;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">дефекты
			в Сервере, возникшие не по вине
			Исполнителя в процессе их функционирования
			в рамках настоящего Договора;</P>
			<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">за содержание
			информации, размещаемой и/или
			передаваемой Клиентом и/или третьими
			лицами на/через оборудование Клиента;</P>
		</OL>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Для
		обеспечения максимального качества
		предоставления услуг, оптимизации и
		безопасности работы сети, Исполнитель
		вправе вносить изменения в технические
		характеристики услуг и тарифных планов
		с уведомлением Клиента по электронной
		почте за 30 (тридцать) календарных дней
		до даты вступления в силу этих изменений.
		В случае согласия Клиента с данными
		изменениями стороны подписывают
		Дополнительное оглашение. В случае
		несогласия Договор расторгается.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">За просрочку
		оплаты Услуг Клиент, на основании
		предъявленного Исполнителем требования,
		уплачивает пени в размере 0,1% (одна
		десятая) процента от суммы задолженности
		за каждый день просрочки, но не более
		10% (десяти) процентов от суммы просроченного
		платежа.</P>
	</OL>
</OL>
<P ALIGN=JUSTIFY STYLE="text-indent: 0.39in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%">7. СРОКИ
	И ПОРЯДОК ДЕЙСТВИЯ ДОГОВОРА</P>

		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Настоящий
		Договор вступает в силу с даты его
		подписания обеими Сторонами. Срок
		оказания Услуг – 12 (двенадцать) месяцев
		начиная с Даты начала оказания Услуг.
		Датой начала оказания Услуг является
		дата оплаты Клиентом инсталляционных
		Услуг, стоимость которых приведена в
		Приложение №2 к настоящему Договору)
		 
		</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">После
		истечения первоначального срока
		оказания Услуг по Договору (п. 7.1.
		Договора), оказание Исполнителем Услуг
		может быть продлено на условиях,
		согласованных Сторонами дополнительно.
				</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Договор
		может быть расторгнут любой из Сторон
		с предварительным письменным или
		электронным уведомлением другой
		Стороны не менее чем за 2 (две) недели
		до предполагаемой даты расторжения
		Договора.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Настоящий
		Договор и оформленные к нему Приложения
		и Дополнительные соглашения, которые
		являются составными частями Договора,
		составляют единое целое и устанавливают
		взаимные права и обязанности Сторон,
		заменяя все другие предварительные
		договоры, договорённости и другие
		отношения между Сторонами, имеющие
		отношение к предмету Договора.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"> Исполнитель
		оставляет за собой право привлекать
		третьих лиц для исполнения своих
		обязательств по настоящему Договору.
		Исполнитель несет ответственность
		перед Клиентом за действия привлеченных
		им третьих лиц как за свои собственные.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Права
		сторон по настоящему Договору не могут
		передаваться или отчуждаться иным
		образом одной из сторон без предварительного
		получения письменного согласия другой
		стороны.</P>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Договор
		составлен в двух одинаковых экземплярах
		и хранится у каждой из сторон. Изменение
		и дополнение условий настоящего
		Договора возможны по соглашению Сторон
		путем заключения Дополнительного
		соглашения.</P>
	</OL>
</OL>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%; page-break-before: always">
	8. СПИСОК ПРИЛОЖЕНИЙ</P>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.64in; margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Приложение 1
– Правила пользования сервисами и у
слугами 
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">Приложение 2
– Тарифный план</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">9. РЕКВИЗИТЫ
	СТОРОН</P>
<P STYLE="margin-bottom: 0.11in">Исполнитель</P>
<P STYLE="margin-bottom: 0in; line-height: 0.17in">ООО «Основа
ДАТА НЭТ»</P>
<P STYLE="margin-bottom: 0in; line-height: 0.17in">Адрес места
нахождения: 644103, город Омск, улица Игоря
Москаленко, дом 137, офис 3</P>
<P STYLE="margin-bottom: 0in; line-height: 0.17in">ОГРН
1195543021178</P>
<P STYLE="margin-bottom: 0in; line-height: 0.17in">ИНН/КПП:
5507271649/550701001</P>
<P STYLE="margin-bottom: 0in; line-height: 0.17in">р/с:
40702810911030000759</P>
<P STYLE="margin-bottom: 0in; line-height: 0.17in">к/с:
30101810200000000777</P>
<P STYLE="margin-bottom: 0in; line-height: 0.17in">Филиал банка
ВТБ (ПАО) в г. Красноярске</P>
<P STYLE="margin-bottom: 0in; line-height: 0.17in">БИК 040407777</P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in">Клиент</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif"><B>data['clientName']</B></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif">Адрес
места нахождения: data['address'], </FONT>
</P>
<P STYLE="margin-bottom: 0in; line-height: 100%">Адрес
фактический: data['addressFact']</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif">Телефон/Факс: data['numberPhone']</FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif">Электронный
адрес: data['mail']</FONT>
</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif">р/
сч     data['r/sch']</FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif">к/с
   data['k/s']</FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif">БИК
      data['BIC']</FONT>
</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif">ДО
«Коломяжский» в г. Санкт-Петербург
Филиала «Санкт-Петербургский» ПАО
«АЛЬФА-БАНК»</FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif">ИНН data['INN']</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Calibri, serif">ОГРН: data['OGRN']</FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<P STYLE="margin-bottom: 0.11in"><CENTER>
	<TABLE DIR="LTR" WIDTH=612 CELLPADDING=7 CELLSPACING=0>
		<COL WIDTH=292>
		<COL WIDTH=292>
		<TR VALIGN=TOP>
			<TD WIDTH=292 HEIGHT=109 STYLE="border: none; padding: 0in">
				<P STYLE="margin-top: 0.07in; margin-bottom: 0.07in">От
				Исполнителя: 
				</P>
				<P STYLE="margin-bottom: 0.11in">Директор 
				</P>
				<P>Лекаревич С.С.</P>
			</TD>
			<TD WIDTH=292 STYLE="border: none; padding: 0in">
				<P STYLE="margin-top: 0.07in; margin-bottom: 0.07in">От
				Клиента: 
				</P>
				<P STYLE="margin-top: 0.07in; margin-bottom: 0.07in">Генеральный
				директор</P>
				<P STYLE="margin-top: 0.07in">Подгорный В. А.</P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=292 STYLE="border: none; padding: 0in">
				<P STYLE="margin-bottom: 0.11in">Подпись<SPAN LANG="en-US">:
				____________________</SPAN></P>
				<P><SPAN LANG="en-US">(</SPAN>М<SPAN LANG="en-US">.</SPAN>П<SPAN LANG="en-US">.)</SPAN></P>
			</TD>
			<TD WIDTH=292 STYLE="border: none; padding: 0in">
				<P STYLE="margin-bottom: 0.11in">Подпись<SPAN LANG="en-US">:
				______________________</SPAN></P>
				<P><SPAN LANG="en-US">(</SPAN>М<SPAN LANG="en-US">.</SPAN>П<SPAN LANG="en-US">.)</SPAN></P>
			</TD>
		</TR>
	</TABLE>
	<br><br>
	<strong>
		<p align="right">
			Приложение 2 к договору № {{ requisites }} от __________
		</p>
		<p align="right">
			на предоставление услуг по аренде сервера.
		</p>
		<p align="left">
			Тарифный план
		</p>
	</strong>
	<p align="left">
		Выбранный тариф - аренда виртуальных серверов VPS.
	</p>
	<p align="left">
		Предоставленные ресурсы, а также их стоимость указана в таблице 1.
	</p>
	<p align="right">
		Таблица 1
	</p>
	<table style="width: 100%; border-spacing: 1px" border="1">
		<tr>
			<th style="padding: 5px">Наименование</th>
			<th>ресурс</th>
			<th>кол-во</th>
			<th>Цена в том числе с НДС(20%)</th>
			<th>Цена VPS(руб./мес) в том числе с НДС(20%)</th>
			<th>кол-во VPS шт.</th>
			<th>сумма (руб./мес) в том числе с НДС(20%)</th>
		</tr>
		{% for i in range(0, data['totalLength']) %}
			<tr>
				<td rowspan="3">{{ data['servName'][i] }}</td>
				<td>Ядра шт.</td>
				<td align="right">{{ data['core'][i] }}</td>
				<td align="right">{{ data['priceExcel']['corePrice'][i] / data['core'][i]}} ₽</td>
				<td align="right">{{ data['priceExcel']['corePrice'][i] }} ₽</td>
				<td align="center">{{ data['servNumber'][i] }}</td>
				<td rowspan="3" align="center">
					{{ data['resServ'][i] * data['servNumber'][i] }} ₽
				</td>
			</tr>
			<tr>
				<td>озу ГБ.</td>
				<td align="right">{{ data['ram'][i] }}</td>
				<td align="right">{{ data['priceExcel']['ramPrice'][i] / data['ram'][i]}} ₽</td>
				<td align="right">{{ data['priceExcel']['ramPrice'][i] }} ₽</td>
				<td align="center">{{ data['servNumber'][i] }}</td>
			</tr>
			<tr>
				<td>схд SAS ГБ.</td>
				<td align="right">{{ hdd[i] }}</td>
				{% if (hdd[i] <= 1024) %}
					<td align="right">{{ data['priceExcel']['sxdPrice'][i] / hdd[i] }} ₽</td>
					<td align="right">{{ data['priceExcel']['sxdPrice'][i] }} ₽</td>
				{% else %}
					<td align="right">Цена договорная</td>
					<td align="right">Цена договорная</td>
				{% endif %}
				<td align="center">{{ data['servNumber'][i] }}</td>
			<tr>
				<td height="20px" colspan="7"></td>
			</tr>
		{% endfor %}
		<tr>
			<td></td><td></td><td></td><td></td><td></td>
			<td style="font-weight: bold">Итого:</td>
				<td style="font-weight: bold; font-size: large" align="right">{{ data['result'] }} ₽</td>
		</tr>
	</table>
	<br><br>
	<table style="font-size: large; width: 90%">
		<tr>
			<th align="left">От Исполнителя:</th>
			<th align="left">От Клиента: </th>
		</tr>
		<tr>
			<td align="left">Директор</td>
			<td align="left">Генеральный директор</td>
		</tr>
		<tr>
			<td align="left">Ликаревич С.С.</td>
			<td align="left">Информация о Клиенте</td>
		</tr>
		<tr></tr>
		<tr>
			<td align="left">Подпись:____________</td>
			<td align="left">Подпись:____________</td>
		</tr>
		<tr>
			<td align="left">(М.П.)</td>
			<td align="left">(М.П.)</td>
		</tr>
	</table>
</BODY>
</HTML>